<section>

  <h3 style="padding-bottom: 0px; color: red"> I'm Blake. </h3>
  <center><h4 style="color: black"><a style="color:red" href="tel:2527144994">252-714-4994</a> </h4></center>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>

  </div>

  <h2 id="about-me"><span style="color:black">I can do:</span></h2>


  


      <center>
      <div class="services-circles">

        <div class="block-webdesign">
          <img class="picture-webdesign" src="assets/img/webdesign.png">
          <h4 style="color: black"> Lightning Fast Responsive Webdesign </h4>
        </div>

        <div class="block-logodesign">
          <img class="picture-logodesign" src="assets/img/logodesign.jpg">
          <h4 style="color: black"> Catchy Logo Design </h4>
        </div>

        <div class="block-video">
          <img class="picture-video" src="assets/img/video.jpg">
          <h4 style="color: black"> High Quality Video Commercials </h4>
        </div>

        <div class="block-seo">
          <img class="picture-seo" src="assets/img/seo.jpg">
          <h4 style="color: black"> Advanced Search Engine Optimization </h4>
        </div>

        <div class="block-socialmedia">
          <img class="picture-socialmedia" src="assets/img/socialmedia.jpg">
          <h4 style="color: black"> Boosting Social Media Awareness </h4>
        </div>

        <div class="block-ecommerce">
          <img class="picture-ecommerce" src="assets/img/ecommerce3.jpg">
          <h4 style="color: black"> Easy to Use E-commerce Store</h4>
        </div>

      </div>
      <center>

 
  <br>
  
    

      {% if site.data.settings.skills %}

      <div class="skill-lockup">

        {% for skill in site.data.settings.skills %}

          <div class="skill-unit">
            <div class="skill-label">{{ skill.name }}</div>
            <div class="skill-icons skill-{{ skill.value }}">
              {% for i in (1..10) %}
                <span></span>
              {% endfor %}
            </div>
          </div>

        {% endfor %}

      </div>

      {% endif %}

    <center><h4 class='blurb'> If it's not about money, It's boring.. </h4></center>

    <center><h4 class='blurb'> Starting to bore myself here... </h4></center>

  

</section>
